:root {
    --cheese:       #EAD2AC;
    --marine:       #4281A4;
    --forest:       #9CAFB7;
    --forest-light: #bdcfd6;
    --rose:         #FE938C;
    --rose-dark:    #d87770;
    --marine-dark:  #326986;

    --success-light:    #a8d3bf;
    --secondary-light:  #bcc1c7;
    --warning-light:    #d4caad;
    --danger-light:     #e0acb2;
    --primary-light:    #b0c5e4;
}

html,
body {
    color: var(--marine-dark);
}

/* AUTH LAYOUT */
#box-login {
    max-width: 355px;
    background-color: var(--cheese);
    padding: 3rem 1.5rem;
}

#brand-auth,
#sidebar-logo {
    max-width: 200px;
}

/* SIDEBAR */
#sidebar {
    width: 255px;
    max-width: 255px;
    background-color: var(--cheese);
    height: 100vh;
}

/* APP LAYOUT */
#profile-link {
    min-width: 47px;
}

.side-nav .side-nav-item {
    text-align: left;
    padding-left: 1rem;
    color: var(--marine)
}

.side-nav-item:hover {
    font-weight: bold;
    background-color: white;
}

.side-nav-item.active {
    background-color: white;
    font-weight: bold;
    pointer-events: none;
    cursor: default;
}

.click-disable {
    pointer-events: none;
    cursor: default;
}

.click-enable {
    pointer-events: auto;
    cursor: auto;
}


/* DOT */
.dot {
    padding: 0.2rem 0.6rem;
    border: 1px solid var(--bs-secondary);
    border-radius: 0.4rem;
    background-color: var(--secondary-light);
}

.dot-success {
    background-color: var(--success-light);
    border-color: var(--bs-success);
    color: var(--bs-success);
}

.dot-warning {
    background-color: var(--warning-light);
    border-color: var(--bs-warning);
    color: var(--bs-warning);
}

.dot-danger {
    background-color: var(--danger-light);
    border-color: var(--bs-danger);
    color: var(--bs-danger);
}

.dot-primary {
    background-color: var(--primary-light);
    border-color: var(--bs-primary);
    color: var(--bs-primary);
}


/* COLORS */
.fg-marine {
    color: var(--marine);
}

.fg-cheese {
    color: var(--cheese);
}

.fg-forest {
    color: var(--forest);
}

.fg-rose {
    color: var(--rose);
}

.fg-white {
    color: white;
}

.fg-success {
    color: var(--bs-success);
}

.fg-warning {
    color: var(--bs-warning);
}

.fg-secondary {
    color: var(--bs-secondary);
}

.fg-danger {
    color: var(--bs-danger);
}

.fg-primary {
    color: var(--bs-primary);
}

.bg-white {
    background-color: white;
}

.bg-marine {
    background-color: var(--marine);
}

.bg-marine-dark {
    background-color: var(--marine-dark);
}

.bg-cheese {
    background-color: var(--cheese);
}

.bg-forest {
    background-color: var(--forest);
}

.bg-rose {
    background-color: var(--rose);
}

.bg-success {
    background-color: var(--bs-success);
}

.bg-warning {
    background-color: var(--bs-warning);
}

.bg-secondary {
    background-color: var(--bs-secondary);
}

.bg-danger {
    background-color: var(--bs-danger);
}

.bg-primary {
    background-color: var(--bs-primary);
}

.bg-forest-light {
    background-color: var(--forest-light);
}


/* CUSTOM BUTTONS AND LINKS */
.btn-marine {
    background-color: var(--marine);
    color: white;
}

.btn-rose {
    background-color: var(--rose);
    color: var(--marine);
}

.btn-marine:hover,
.btn-marine:active {
    background-color: var(--marine-dark);
    color: white;
}

.btn-rose:hover,
.btn-rose:active {
    background-color: var(--rose-dark);
    color: var(--marine);
}

a.link-marine {
    color: var(--marine);
}

a.link-marine:hover,
a.link-marine:active {
    color: var(--marine-dark);
}


/* CUSTOM FONTS */
.fs-xs {
    font-size: x-small;
}

.fs-sm {
    font-size: small;
}

.fs-lg {
    font-size: large;
}

.fs-xl {
    font-size: x-large;
}


/* SEARCH BAR */
.search-bar {
    text-align: right;
    display: flex;
    align-items: center;
}

.search-bar .search-icon {
    position: relative;
    right: 26px;
}

.search-bar input {
    padding-right: 2rem;
}

.search input.search-input,
.search .search-list {
    border-radius: 0.5rem !important;
    /* max-width: 400px; */
    /* border-color: var(--bs-light); */
}

.search .search-list {
    padding-top: 0.2rem;
    position: absolute;
    z-index: 10;
    /* width: 400px; */
}


/* ALIGNMENT */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bottom {
    vertical-align: bottom;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}


/* OVERRIDE */
a {
    text-decoration: none;
}

.border-forest-light {
    border-color: var(--forest-light);
}

.borderless {
    border: none;
}

.border-bubble {
    border-radius: 2rem;
}

.border-round {
    border-radius: .5rem;
}

.block {
    display: block;
}

#profile-link:after {
    content: none;
}

.dropstart.no-content a:before {
    content: none;
}

.pagination-right ul.pagination {
    justify-content: end;
}