:root {
    /* Adjustment RGB(20, 14, 8) */
    --ts-navy:          rgb(21, 19, 60);
    --ts-pumpkin:       rgb(236, 153, 75);
    --ts-pumpkin-d:     rgb(216, 139, 67);
    --ts-gray:          rgb(115, 119, 123);
    --ts-light:         #e6e4e4;
    --ts-light-dark:    #d1cece;

    --ts-yellow:        #F6C90E;
    --ts-yellow-dark:   #deb50d;
    --ts-dark:          #303841;
    --ts-secondary:     #3A4750;
}

html,
body#auth-body {
    background-color: var(--ts-dark);
}

body {
    background-color: var(--ts-secondary);
    color: var(--ts-light);
}

div#box-login {
    background-color: rgba(0, 0, 0, 0.05);
}

.brand svg#tns-icon,
.brand svg#tns-text {
    fill: var(--ts-yellow);
}

/* 
==================================
  SIDEBAR
================================== */
div#sidebar {
    background-color: var(--ts-dark);
    color: var(--ts-light);
}

.side-nav .side-nav-item {
    text-align: left;
    padding-left: 1rem;
    color: var(--ts-light);
}

.side-nav-item:hover {
    background-color: rgba(225, 225, 225, 0.2);
}

.side-nav-item.active {
    background-color: var(--ts-light);
    font-weight: bold;
    pointer-events: none;
    cursor: default;
    color: var(--ts-dark);
}

/* 
==================================
  LINKS
================================== */
.link-yellow {
    color: var(--ts-yellow);
}

.link-yellow:hover,
.link-yellow:active {
    color: var(--ts-yellow-dark);
}

.link-light {
    color: var(--ts-light);
}

.link-light:hover,
.link-light:active {
    color: var(--ts-light-dark);
}


/* 
==================================
  BUTTONS
================================== */
.btn-yellow {
    background-color: var(--ts-yellow);
    color: var(--ts-dark);
}

.btn-yellow:hover,
.btn-yellow:active {
    background-color: var(--ts-yellow-dark);
    color: var(--ts-dark);
    font-weight: 500;
}

/* 
==================================
  FOREGROUNDS
================================== */
.fg-yellow {
    color: var(--ts-yellow);
}

/* 
==================================
  BACKGROUNDS
================================== */
.bg-navy {
    background-color: var(--ts-navy);
}

.bg-dark {
    background-color: var(--ts-dark);
}

.bg-dark-shade {
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-pumpkin {
    background-color: var(--ts-pumpkin);
}

.bg-yellow {
    background-color: var(--ts-yellow);
}


/* 
==================================
  ALERTS
================================== */
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-navy {
    color: white;
    background-color: var(--ts-navy);
}

/* 
==================================
  TABLES
================================== */
.ts-table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--ts-light);
    vertical-align: top;
    border: none;
}

.card-body:has(table) {
    padding: 1rem;
}

table.ts-table > thead > tr > th {
    background-color: rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table.ts-table > thead > tr > th:first-child,
table.ts-table > thead > tr > td:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

table.ts-table > thead > tr > th:last-child,
table.ts-table > thead > tr > td:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

table.ts-table tr:first-child {
    border-left: 3px solid none;
}


/* 
==================================
  CARDS
================================== */
.ts-card-dark {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.75rem;
    overflow: auto;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.05);
}


/* 
==================================
  INPUTS
================================== */
.ts-card-dark input,
.ts-card-dark input:focus {
    background-color: rgba(225, 225, 225, 0.05);
    color: white;
}


/* 
==================================
  PAGINATION
================================== */
.ts-card-dark ul.pagination .page-item:not(.active) > * {
    background-color: rgba(0, 0, 0, 0.05);
    border-color: var(--ts-yellow);
}

.page-link {
    color: var(--ts-yellow);
}

.page-link:hover {
    color: var(--ts-light);
}

.page-item.active .page-link {
    background-color: var(--ts-yellow);
    border-color: var(--ts-yellow-dark);
    color: var(--ts-dark);
}