:root {
    /* Adjustment RGB(20, 14, 8) */
    --ts-navy:              rgb(21, 19, 60);
    --ts-pumpkin:           rgb(236, 153, 75);
    --ts-pumpkin-d:         rgb(216, 139, 67);
    --ts-light:             #e6e4e4;
    --ts-light-dark:        #d1cece;  
    --ts-yellow:            #F6C90E;
    --ts-yellow-dark:       #deb50d;
    --ts-dark:              #303841;
    --ts-gray:              #3A4750;
    --ts-forest:            #9CAFB7;
    --ts-forest-light:      #bdcfd6;

    --ts-warning:           #ffb142;
    --ts-warning-dark:      #cc8e35;
    --ts-secondary:         #d1ccc0;
    --ts-secondary-dark:    #84817a;
    --ts-butter:            #ffda79;
    --ts-butter-dark:       #ccae62;
    --ts-pumpkin:           #ff793f;
    --ts-pumpkin-dark:      #cd6133;
    --ts-pumpkin-l:         #ffe0d3;
    --ts-danger-light:      #fd7171;
    --ts-danger:            #ff5252;
    --ts-danger-dark:       #b33939;
    --ts-success:           #33d9b2;
    --ts-success-dark:      #218c74;
    --ts-primary-light:     #72d4ff;
    --ts-primary:           #34ace0;
    --ts-primary-dark:      #227093;
    --ts-purple:            #706fd3;
    --ts-purple-dark:       #474787;
    --ts-ube:               #40407a;
    --ts-ube-dark:          #2c2c54;

    --ts-dark-shade:        rgba(0, 0, 0, 0.05);
    --ts-darker-shade:      rgba(0, 0, 0, 0.2);
    --ts-light-shade:       rgba(255, 255, 255, 0.05);
    --ts-lighter-shade:     rgba(255, 255, 255, 0.2);

    --ts-due-icon-color:    transparent;
    --ts-action-icon-show:  hidden;
}

html,
body#auth-body {
    background-color: var(--ts-dark);
}

body {
    background-color: var(--ts-gray);
    color: var(--ts-light);
}

div#box-login {
    background-color: rgba(0, 0, 0, 0.05);
}

.brand svg#tns-icon,
.brand svg#tns-text {
    fill: var(--ts-yellow);
}

/* 
==================================
  SIDEBAR
================================== */
div#sidebar {
    background-color: var(--ts-dark);
    color: var(--ts-light);
}

.side-nav .side-nav-item {
    text-align: left;
    padding-left: 1rem;
    color: var(--ts-light);
}

.side-nav-item:hover {
    background-color: rgba(225, 225, 225, 0.2);
}

.side-nav-item.active {
    background-color: var(--ts-light);
    font-weight: bold;
    pointer-events: none;
    cursor: default;
    color: var(--ts-dark);
}

/* 
==================================
  LINKS
================================== */
.link-yellow {
    color: var(--ts-yellow);
}

.dark-theme .link-main {
    color: var(--ts-yellow);
}

.link-light {
    color: var(--ts-light);
}

.link-forest {
    color: var(--ts-forest-light);
}

.link-primary,
.link-primary:disabled {
    color: var(--ts-primary);
}

.link-danger {
    color: var(--ts-danger);
}

.link-yellow:hover,
.link-yellow:active {
    color: var(--ts-yellow-dark);
}

.dark-theme .link-main:hover,
.dark-theme .link-main:active {
    color: var(--ts-yellow-dark);
}

.link-light:hover,
.link-light:active {
    color: var(--ts-light-dark);
}

.link-forest:hover,
.link-forest:active {
    color: var(--ts-forest);
}

.link-hover-white:hover {
    color: white;
}

.dark-theme .link-primary:hover {
    color: var(--ts-primary-light);
}

.link-danger:hover,
.link-danger:active {
    color: var(--ts-danger-dark);
}

.dark-theme .link-danger:hover,
.dark-theme .link-danger:active {
    color: var(--ts-danger-light);
}


/* 
==================================
  BUTTONS
================================== */
.btn-yellow {
    background-color: var(--ts-yellow);
    color: var(--ts-dark);
}

.btn-yellow-outline {
    background-color: transparent;
    color: var(--ts-yellow);
    border: 1px solid var(--ts-yellow-dark);
}

.dark-theme .btn-main {
    background-color: var(--ts-yellow);
    color: var(--ts-dark);
}

.dark-theme .btn-sub {
    background-color: transparent;
    color: var(--ts-yellow);
    border: 1px solid var(--ts-yellow-dark);
}

.btn-yellow:hover,
.btn-yellow:active {
    background-color: var(--ts-yellow-dark);
    color: var(--ts-dark);
}

.btn-yellow-outline:hover,
.btn-yellow-outline:active {
    background-color: var(--ts-yellow);
    color: var(--ts-dark);
}

.dark-theme .btn-main:hover,
.dark-theme .btn-main:active {
    background-color: var(--ts-yellow-dark);
    color: var(--ts-dark);
}

.dark-theme .btn-sub:hover,
.dark-theme .btn-sub:active {
    background-color: var(--ts-yellow);
    color: var(--ts-dark);
}

.ts-btn {
    border: 2px solid #f6c90e;
    background-color: #f6c90e;
    color: #2e3940;
    padding: 0.1rem 1rem 0.1rem 0.12rem;
    font-size: 20pt;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
  }
  
  .ts-btn-icon {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.25);
    /* margin-right: 0.5rem; */
    border-radius: 0.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ts-btn-text {
    margin-top: 0.25rem;
  }
  
  .ts-btn-icon > * {
    font-size: 20pt;
  }
  
  .ts-btn:hover {
    background-color: #e0b60d;
  }

/* 
==================================
  FOREGROUNDS
================================== */
.fg-yellow {
    color: var(--ts-yellow);
}

.fg-pumpkin {
    color: var(--ts-pumpkin);
}

/* 
==================================
  BACKGROUNDS
================================== */
.bg-navy {
    background-color: var(--ts-navy);
}

.bg-dark {
    background-color: var(--ts-dark);
}

.bg-dark-shade {
    background-color: var(--ts-dark-shade);
}

.bg-darker-shade {
    background-color: var(--ts-darker-shade);
}

.bg-pumpkin {
    background-color: var(--ts-pumpkin);
}

.bg-yellow {
    background-color: var(--ts-yellow);
}

.bg-less {
    background: none !important;
}

.bg-white {
    background-color: white;
}

.bg-marine {
    background-color: var(--marine);
}

.bg-marine-dark {
    background-color: var(--marine-dark);
}

.bg-cheese {
    background-color: var(--cheese);
}

.bg-forest {
    background-color: var(--forest);
}

.bg-rose {
    background-color: var(--rose);
}

.bg-success {
    background-color: var(--ts-success);
}

.bg-warning {
    background-color: var(--ts-warning);
}

.bg-secondary {
    background-color: var(--ts-secondary);
}

.bg-danger {
    background-color: var(--ts-danger);
}

.bg-primary {
    background-color: var(--ts-primary);
}

.bg-forest-light {
    background-color: var(--forest-light);
}

.bg-pumpkin-light {
    background-color: var(--x-pumpkin-l);
}


/* 
==================================
  ALERTS
================================== */
.ts-alert-dark {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    background-color: var(--ts-darker-shade);
    font-size: small;
}

.alert-navy {
    color: white;
    background-color: var(--ts-navy);
}

.ts-alert-success {
    color: var(--ts-success);
    border-color: var(--ts-success-dark);
}

.ts-alert-primary {
    color: var(--ts-primary);
    border-color: var(--ts-primary-dark);
}

.ts-alert-warning {
    color: var(--ts-warning);
    border-color: var(--ts-warning-dark);
}

.ts-alert-danger {
    color: var(--ts-danger);
    border-color: var(--ts-danger-dark);
}

.invalid-feedback {
    padding-left: 0.8rem;
}


/* 
==================================
  TABLES
================================== */
.ts-table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--ts-light);
    vertical-align: top;
    border: none;
    border-collapse: separate;
    border-spacing: 0px 3px;
}

.card-body:has(table) {
    padding: 1rem;
}

table.ts-table > thead > tr > th {
    background-color: rgba(255, 255, 255, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

table.ts-table > thead > tr > th:first-child,
table.ts-table > tbody > tr > td:first-child {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

table.ts-table > thead > tr > th:last-child,
table.ts-table > tbody > tr > td:last-child {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

table.ts-table tr:first-child {
    border-left: 3px solid none;
}

/* .ts-table tbody tr td:first-child {
    border-left: 1px solid var(--ts-pumpkin);
} */

.ts-table tbody tr:hover {
    --ts-table-row-accent: var(--ts-gray);
}

.ts-table tbody tr td {
    background-color: var(--ts-table-row-accent);
}

.ts-table tbody tr.overdue td {
    --ts-table-row-accent: rgba(255, 121, 63, 0.05);
}

.ts-table tbody tr.overdue:hover td {
    --ts-table-row-accent: rgba(255, 121, 63, 0.075);
}

.ts-table tbody tr.new-record td {
    animation: new-record 4s ease;
}

/* 
==================================
  CARDS
================================== */
.ts-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.75rem;
    overflow: auto;
    flex: 1 1 auto;
    padding: 1rem 1rem;
    background-color: var(--ts-darker-shade);
}


/* 
==================================
  INPUTS
================================== */
.dark-theme .ts-card .form-control,
.dark-theme .ts-card .form-control:focus,
.dark-theme .ts-card .form-select,
.dark-theme .ts-card .form-select:focus {
    /* background-color: rgba(225, 225, 225, 0.05); */
    background-color: var(--ts-light-shade);
    color: white;
    border: none;
}

.dark-theme .ts-card .form-select option {
    background: var(--ts-gray);
    color: white;
}

.dark-theme .ts-card .form-control:disabled,
.dark-theme .ts-card .form-select:disabled,
.dark-theme .ts-card .form-control[readonly],
.dark-theme .ts-card .form-select[readonly] {
    background-color: transparent;
    border: 1px solid var(--ts-lighter-shade);
}

.dark-theme .ts-card .form-control[type='file']::before {
    background: var(--ts-dark-shade);
}

.dark-theme .form-select {
    background-image: url(../imgs/chevron-down-light.svg);
    
}

.dark-theme .form-contol,
.dark-theme .form-select,
.dark-theme .search .form-control {
    background-color: var(--ts-darker-shade);
    color: var(--ts-light);
}


/* 
==================================
  PAGINATION
================================== */
.ts-card ul.pagination .page-item:not(.active) > * {
    background-color: var(--ts-light-shade);
    border-color: var(--ts-yellow);
}

.page-link {
    color: var(--ts-yellow);
}

.page-link:hover {
    color: var(--ts-light);
}

.page-item.active .page-link {
    background-color: var(--ts-yellow);
    border-color: var(--ts-yellow-dark);
    color: var(--ts-dark);
}


/* 
==================================
  BORDERS
================================== */
.border-bubble {
    border-radius: 2rem;
}

.border-round {
    border-radius: .5rem;
}


/* 
==================================
  DOT
================================== */
.dark-theme .dot {
    padding: 0.1rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    background-color: var(--ts-dark-shade);
    display: block;
    max-width: 110px;
    min-width: 50px;
    text-align: center;
}

.dark-theme .dot.dot-secondary {
    border-color: var(--ts-secondary-dark);
    color: var(--ts-secondary);
}

.dark-theme .dot.dot-success {
    border-color: var(--ts-success-dark);
    color: var(--ts-success);
}

.dark-theme .dot.dot-warning {
    border-color: var(--ts-butter-dark);
    color: var(--ts-butter);
}

.dark-theme .dot.dot-danger {
    border-color: var(--ts-danger-dark);
    color: var(--ts-danger);
}

.dark-theme .dot.dot-primary {
    border-color: var(--ts-primary-dark);
    color: var(--ts-primary);
}

.dark-theme .dot.dot-purple {
    border-color: var(--ts-purple-dark);
    color: var(--ts-purple);
}

.dark-theme .dot.dot-pumpkin {
    border-color: var(--ts-pumpkin-dark);
    color: var(--ts-pumpkin);
}

.dark-theme .dot.dot-dark {
    border-color: var(--ts-forest);
    color: var(--ts-forest);
}


/* 
==================================
  LISTS
================================== */
ul.ts-list {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

li.ts-list-item {
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    /* border: 1px solid var(--ts-lighter-shade); */
}

.ts-card .ts-list .ts-list-item,
.dark-them .ts-list .ts-list-item {
    background-color: rgba(255, 255, 255, 0.03);
    color: var(--ts-light);
}

.ts-card .ts-list .ts-list-item:hover,
.dark-them .ts-list .ts-list-item:hover {
    background-color: var(--ts-light-shade);
    color: var(--ts-light);
    --ts-action-icon-show: visible;
}

.ts-list-item .ts-action-icon {
    visibility: var(--ts-action-icon-show);
    font-size: medium;
}


/* 
==================================
  PROGRESS
================================== */
.ts-progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 0.675rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.ts-progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width 0.6s ease;
}


/* 
==================================
  ICONS
================================== */
.has-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.has-icon-start > .has-icon-form {
    padding-left: 2.25rem;
}

.has-icon-end > .has-icon-form {
    padding-right: 2.25rem;
}

.has-icon > .has-icon-this {
    position: absolute;
}

.has-icon-start > .has-icon-this {
    padding-left: 0.75rem;
    color: var(--ts-dark);
}

.has-icon-end > .has-icon-this {
    margin-right: 0.75rem;
    right: 0;
    color: var(--ts-dark);
}

.dark-theme .has-icon .has-icon-this {
    color: var(--ts-yellow);
}


/* 
==================================
  ANIMATION
================================== */
@keyframes new-record {
    0% {
        background-color: rgba(52, 172, 224, 0);
    }
    20% {
        background-color: rgba(52, 172, 224, 0.5);
    }
    40% {
        background-color: rgba(52, 172, 224, 0.1);
    }
    60% {
        background-color: rgba(52, 172, 224, 0.5);
    }
    100% {
        background-color: rgba(52, 172, 224, 0);
    }
}


/* 
==================================
  DROPDOWN
================================== */
.ts-dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 0.9rem;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border-radius: 0.5rem;
}

.ts-dropdown-menu-end {
    --bs-position: end;
}

.dark-theme .ts-dropdown-menu {
    background-color: var(--ts-dark);
    color: white;
}